body {
  margin: 0;
}
.hidden {
  display: none;
}
.head {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  background-color: #1f2937;

  color: #f9faf8;
  font-family: "Merriweather", serif;
}

.right-link {
  display: flex;
  flex-direction: row;
  gap: 50px;

  margin-top: 30px;
}

a {
  text-decoration: none;
  color: #f9faf8;
}

a:hover {
  color: #3882f6;
}

/* a:visited,
a:link {
} */

ul {
  list-style-type: none;
}
.modal {
  display: flex;
  flex-direction: column;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 60%;

  background-color: white;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

/* ################################ Copy Paste */

#information {
  padding-top: 70px;
  margin: 0px 0px 60px;
  font-family: "Roboto Condensed", sans-serif;
}
.img {
  width: 160px;
  height: 200px;

  border: 3px solid #3882f6;
  border-radius: 10px;
}

.item-1,
.item-2,
.item-3 {
  display: flex;
  flex-flow: column wrap;

  width: 180px;
}

.head-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;

  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}
.img-info {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  gap: 80px;
}
/* FONTS :

font-family: 'Inconsolata', monospace;
font-family: 'Merriweather', serif;
font-family: 'Raleway', sans-serif;

*/
